!!!
%html
  %head
    %title Mon blog
    %link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"}
  %body
    .container
      .row
        .col-xs-9
          = yield
        .col-xs-3
          %h2 Sidebar
